## Data I/O Operation

The Pandas library offers powerful I/O tools (API) for data import and export, enabling seamless handling of various file formats like CSV, Excel, JSON, and many more. This API includes top-level reader functions like, pd.read_csv(), read_clipboard() and corresponding writer methods like, to_csv(), to_clipboard() for easy data handling.

In [1]:
import pandas as pd 
print("Import Pandas Successfully")

Import Pandas Successfully

#### 1. Read a CSV file

In [ ]:
df=pd.read_csv('Toyota.csv',na_values=['??','????'])
df
# print(df)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

In [ ]:
# df.info()
# df.describe()
# df['FuelType'].unique()
# df.boxplot()
df['Price/KM']=df['Price']/df['KM']
df['Price/KM']

0          0.287320
1          0.188519
2          0.334444
3          0.311458
4          0.357143
           ...
1431       0.365070
1432            NaN
1433       0.499530
1434            NaN
1435    6950.000000
Name: Price/KM, Length: 1436, dtype: float64

#### 2. Read a EXCEL File