## Data I/O Operation

The Pandas library offers powerful I/O tools (API) for data import and export, enabling seamless handling of various file formats like CSV, Excel, JSON, and many more. This API includes top-level reader functions like, pd.read_csv(), read_clipboard() and corresponding writer methods like, to_csv(), to_clipboard() for easy data handling.

In [2]:
import pandas as pd 
print("Import Pandas Successfully")

Import Pandas Successfully

#### 1. Read a CSV file

In [ ]:
df=pd.read_csv('Toyota.csv',na_values=['??','????'])
df
# print(df)

,Unnamed: 0,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,0,13500,23.0,46986.0,Diesel,90.0,1.0,0,2000,three,1165
1,1,13750,23.0,72937.0,Diesel,90.0,1.0,0,2000,3,1165
2,2,13950,24.0,41711.0,Diesel,90.0,NaN,0,2000,3,1165
3,3,14950,26.0,48000.0,Diesel,90.0,0.0,0,2000,3,1165
4,4,13750,30.0,38500.0,Diesel,90.0,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...,...
1431,1431,7500,NaN,20544.0,Petrol,86.0,1.0,0,1300,3,1025
1432,1432,10845,72.0,NaN,Petrol,86.0,0.0,0,1300,3,1015
1433,1433,8500,NaN,17016.0,Petrol,86.0,0.0,0,1300,3,1015
1434,1434,7250,70.0,NaN,NaN,86.0,1.0,0,1300,3,1015
1435,1435,6950,76.0,1.0,Petrol,110.0,0.0,0,1600,5,1114

In [ ]:
# df.info()
# df.describe()
# df['FuelType'].unique()
# df.boxplot()
df['Price/KM']=df['Price']/df['KM']
df['Price/KM']

0          0.287320
1          0.188519
2          0.334444
3          0.311458
4          0.357143
           ...
1431       0.365070
1432            NaN
1433       0.499530
1434            NaN
1435    6950.000000
Name: Price/KM, Length: 1436, dtype: float64

#### 2. Read a EXCEL File using path

In [11]:
df=pd.read_excel("C:/Users/dharm/Downloads/global_superstore_2016.xlsx",sheet_name="Orders")
print(df)

       Row ID                  Order ID Order Date  Ship Date       Ship Mode  \
0       40098  CA-2014-AB10015140-41954 2014-11-11 2014-11-13     First Class
1       26341    IN-2014-JR162107-41675 2014-02-05 2014-02-07    Second Class
2       25330    IN-2014-CR127307-41929 2014-10-17 2014-10-18     First Class
3       13524   ES-2014-KM1637548-41667 2014-01-28 2014-01-30     First Class
4       47221   SG-2014-RH9495111-41948 2014-11-05 2014-11-06        Same Day
...       ...                       ...        ...        ...             ...
51285   29002   IN-2015-KE1642066-42174 2015-06-19 2015-06-19        Same Day
51286   34337  US-2014-ZD21925140-41765 2014-05-06 2014-05-10  Standard Class
51287   31315  CA-2012-ZD21925140-41147 2012-08-26 2012-08-31    Second Class
51288    9596   MX-2013-RB1979518-41322 2013-02-17 2013-02-21  Standard Class
51289    6147   MX-2013-MC1810093-41416 2013-05-22 2013-05-26    Second Class

        Customer ID       Customer Name      Segment  Postal Code  \
0      AB-100151402       Aaron Bergman     Consumer      73120.0
1         JR-162107       Justin Ritter    Corporate          NaN
2         CR-127307        Craig Reiter     Consumer          NaN
3        KM-1637548    Katherine Murray  Home Office          NaN
4        RH-9495111         Rick Hansen     Consumer          NaN
...             ...                 ...          ...          ...
51285    KE-1642066     Katrina Edelman    Corporate          NaN
51286  ZD-219251408  Zuschuss Donatelli     Consumer      37421.0
51287  ZD-219251404  Zuschuss Donatelli     Consumer      94109.0
51288    RB-1979518          Ross Baird  Home Office          NaN
51289    MC-1810093       Mick Crebagga     Consumer          NaN

                City  ...   Product ID         Category Sub-Category  \
0      Oklahoma City  ...  TEC-PH-5816       Technology       Phones
1         Wollongong  ...  FUR-CH-5379        Furniture       Chairs
2           Brisbane  ...  TEC-PH-5356       Technology       Phones
3             Berlin  ...  TEC-PH-5267       Technology       Phones
4              Dakar  ...  TEC-CO-6011       Technology      Copiers
...              ...  ...          ...              ...          ...
51285           Kure  ...  OFF-FA-3072  Office Supplies    Fasteners
51286    Chattanooga  ...  FUR-FU-4070        Furniture  Furnishings
51287  San Francisco  ...  OFF-AR-5321  Office Supplies          Art
51288       Valinhos  ...  OFF-BI-2919  Office Supplies      Binders
51289       Tipitapa  ...  OFF-PA-3990  Office Supplies        Paper

                                        Product Name     Sales Quantity  \
0                                   Samsung Convoy 3   221.980        2
1          Novimex Executive Leather Armchair, Black  3709.395        9
2                  Nokia Smart Phone, with Caller ID  5175.171        9
3                     Motorola Smart Phone, Cordless  2892.510        5
4                     Sharp Wireless Fax, High-Speed  2832.960        8
...                                              ...       ...      ...
51285                  Advantus Thumb Tacks, 12 Pack    65.100        5
51286  Eldon Image Series Desk Accessories, Burgundy    16.720        5
51287                                     Newell 341     8.560        2
51288                        Acco Index Tab, Economy    13.440        2
51289        Eaton Computer Printout Paper, 8.5 x 11    61.380        3

      Discount    Profit  Shipping Cost  Order Priority
0          0.0   62.1544         40.770            High
1          0.1 -288.7650        923.630        Critical
2          0.1  919.9710        915.490          Medium
3          0.1  -96.5400        910.160          Medium
4          0.0  311.5200        903.040        Critical
...        ...       ...            ...             ...
51285      0.0    4.5000          1.010          Medium
51286      0.2    3.3440          1.930            High
51287      0.0    2.4824          1.580            High
51288      0.0    2.4000          1.003          Medium
51289      0.0    1.8000          1.002            High

[51290 rows x 24 columns]

#### Read Excel file with name

In [13]:
df_excel=pd.read_excel("global_superstore_2016.xlsx",sheet_name="Orders")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,...,OFF-FA-3072,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,...,FUR-FU-4070,Furniture,Furnishings,"Eldon Image Series Desk Accessories, Burgundy",16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,...,OFF-AR-5321,Office Supplies,Art,Newell 341,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,...,OFF-BI-2919,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,...,OFF-PA-3990,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,1.002,High

#### Read json File

In [ ]:
df_json=pd.read_json("data.json")